<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day Teller</title>
</head>
<body>

    <h1><strong>Hey! It's a <%=weekday%>,<br/> it's time to <%=work%>!</strong></h1>
    
</body>
</html>